@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;

}

.container {
    padding: 32px;
  
}

section {
    padding: 32px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
}

.nav__links {
    display: flex;
}

.row {
    width: 100%;
    padding: 54px 24px;
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blue {
    color:rgb(93, 93, 255) ;
}

.link {
    padding-left: 22px;
 
}

.login {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
li {

}

.logo {
    width: 150px;
}

a {
    font-size: 32px;
    color: black;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    margin: 0 18px;
}

button {
    padding: 18px;
    font-size: 32px;
    background-color: rgb(93, 93, 255);
    border: none;
    color: white;
    border-radius: 30px;
    width: 150px;
    margin-left: 18px;
    cursor: pointer;
}

/*header*/

header {
    height: 50vh;
}

.main {
    display: flex;
    
}

.header__list {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    width: 100%;
}

h1 {
    font-weight: bold;
    color: rgb(54, 54, 133);
    font-size: 56px;
    margin-bottom: 18px;
}

h3 {
    
    font-size: 40px;
    margin-bottom: 40px;
}

h4 {
    color: rgb(119, 116, 116);
    font-size: 26px;
    margin-bottom: 40px;
    
}

p {
    color: rgb(119, 116, 116);
    font-size: 38px;
    margin-bottom: 24px 0;
}

.partners {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-bottom: 12px;
    color: rgb(119, 116, 116);
}

/*features*/

.features__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1250px;
    justify-content: space-between;
}

.feature__block {
    display: flex;
    width: calc(100%/3);
    align-items: center;
    padding: 0 86px;
    margin-bottom: 56px;
}

.feature__list {
    display: flex;
    flex-wrap: wrap;
}

.feature__img {
    width: 130px;
    border: 2px solid gray;
    border-radius: 50px;
    margin: 16px;
    padding: 16px;
}

.features__para {
    font-size: 36px;
}


/*quality*/


.quality__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.quality__list {
    width: 40%;
}

.quality__img {
    width: 70%;
}

.quality__button {
    width: 200px;
    margin-top: 38px;
}

.quality__img--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*steps*/

.steps__wrapper {
    display: flex;
   align-items: center;
   justify-content: space-between;
}

.steps__img {
    width: 100%;
}

.steps__list {
    width: 40%;
}

.steps__block {
    display: flex;
}

.steps__number {
    font-size: 50px;
    color: rgb(129, 135, 135);
}

.steps__desc {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 30px;
    margin-bottom: 12px;
}

/*values*/

.values__wrapper {
    display: flex;
    justify-content: space-between;
}

.values__img {
    width: 40px;
}

.values__list--desc {
    display: flex;
    margin-bottom: 16px;
}

.values__list {
    width: 40%;
}

.values__imgs {
    width: 50%;
}

.values__font {
    font-size: 34px;
    margin-left: 16px;
}

.values__list--sep {
    width: 60%;
      padding: 12px;
      margin: 24px; 
}

.gamble {
    display: flex;
    margin-right: 24px;
    padding: 12px;    
}

.values__btn {
    width: 200px;
}

#values {
    height: 40%;
}

/*pricing*/

br {
    color: gray;
}

.pricing__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 58px;
    margin-bottom: 80px;

}

.pricing__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pricing__box--one {
    border-top: 12px solid rgb(53, 183, 142);
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 24px;
    margin: 48px 0;
    width: calc(95% / 3);
    margin: 10px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 31%;

}
.pricing__box--two {
    color: white;
    background-color:  rgb(93, 93, 255);
    border: 2px solid rgba(70, 52, 189, 0.13);
    padding: 24px;
    margin: 48px 0;
    width: calc(95% / 3);
    margin: 10px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 31%;

    

}
.pricing__box--three {
    border-top: 12px solid rgb(225, 118, 118);
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 24px;
    margin: 48px 0;
    width: calc(95% / 3);
    margin: 10px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 31%;


}

.pricing__btn--one {
    background-color: rgb(53, 183, 142);;
    height: 80px;
    width: 250px;
    margin: 36px 140px;
    border-radius: 40px;
}
.pricing__btn--two {
    color:  rgb(93, 93, 255);
    background-color: white;
    height: 80px;
    width: 250px;
    margin: 36px 140px;
    border-radius: 40px;
}
.pricing__btn--three {
    background-color: rgb(225, 118, 118);;
    height: 80px;
    width: 250px;
    margin: 36px 140px;
    border-radius: 40px;
}

.black {
    color: black;
}

.white {
    color: white;
}

.gray {
    color: gray;
}

/*Testimonials*/

.testimonials__wrapper {
    display: flex;
    align-items: center;

}

.testimonials__img--main {
    width: 100%;
    padding: 12px;
    
}

.testimonials__list {
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    
}


.individual__img {
    width: 110px;
    
}

.individuals__img {
    border: none;
    border-radius: 50px;
}

.individual {
    display: flex;
    justify-content: space-between;
}

.testimonials__buttons {
    display: flex;
}

.testimonial__btn {
    width: 75px;
    border-radius: 50px;
    background-color: lightgray;
    color: rgb(93, 93, 255);
}

.testimonials__rating {
    color: gold;
}

/*blue box*/

#bluebox {
    display: flex;
}

.blue__box {
    color: white;
    border: 1px solid rgb(93, 93, 255);
    background-color: rgb(93, 93, 255);
    height: 400px;
    width: 1700px;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 150px;
}

.blue__box--h1 {
    font-size: 46px;
    width: 850px;
    color: white;
}

.get__started {
    font-weight: bold;
    background-color: rgb(225, 118, 118);
    width: 240px;
    height: 100px;
    border-radius: 50px;
}

.contact__us {
    font-weight: bold;
    border: 1px solid white;
     background-color: rgb(93, 93, 255);
    width: 240px;
    height: 100px;
    border-radius: 50px;
}


/*footer*/

#footer {
    background-color: rgb(93, 93, 255);
}

.footer__categories--links {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 74px 75px;
}

.footer__tag {
    padding: 12px 32px;
    color: white;
    font-size: 30px;
}

.footer__btn {
    padding: 4px;
    color: white;
    font-weight: 200;
    font-size: 24px;
}

.footer__btn:hover {
    text-decoration: underline;


}

.footer__base {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.reactinc {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.header__t {
    width: 70px;
    margin-right: 12px;
}

h5 {
    font-size: 24px;
    color: white;
}

.treact {
    color: white;
}

.social {
    width: 80px;
    border: 1px solid gray;
    border-radius: 50px;
}


/*responsiveness*/

@media (max-width: 728px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    li {
        display: none;
    }

    .header__list {
        width: 100%;
        align-items: center;
        justify-content: center;

    }

    h1 {
        margin-bottom: 28px;
    }

    p {
        margin-bottom: 28px;
    }

    .header__email {
        margin-bottom: 18px;
    }


    .feature__list {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .features__para {
        width: 100%;
        font-size: 24px;
    }

    .footer__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }

   .footer__base {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .quality__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .values__list {

         width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .pricing__desc {

         width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .pricing__list {

         width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .pricing__box--one {

         width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .pricing__box--two {

         width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .pricing__box--three {

         width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .steps__wrapper {

         width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .steps__block {

         width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .steps__desc {

         width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .steps__para {
        font-size: 32px;
    }
}